.App {
  /* text-align: center; */
  overflow-x: hidden;
  font-family: "Oswald", sans-serif;
  font-weight: 500;
}

:root {
  --green-color: #BFBA3D;
  --header-color: #e8e6de;
  --blue-color: #8AB2C2;
  --headertext-color: #1C3F94;
  --orange-color: #DC5620;
}

.header-main {
  background-color: var(--header-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-text {
  color: var(--headertext-color);
  font-weight: 700;
  font-size: 2.5em;
  margin-top: -5px;
  letter-spacing: -1px;
}

.web-design-text {
  color: var(--headertext-color);
  font-size: .79em;
  margin-top: -13px;
  margin-left: 1px;
}

.logo-div {
  margin: 4px 0px 6px 10px;
  display: flex;
  flex-direction: column;
  /* background-color: var(--orange-color); */
  /* border-radius: 8px; */
  padding: 0px 3px 0px 3px;
  /* border: 3px solid var(--headertext-color); */
}

.diamond-main {
  width: max-content;
}

.nav-main {
  margin-bottom: -34px;
  width: max-content;
  overflow-y: hidden;
}

.nav-list {
 list-style-type: none;
 display: flex; 
 flex-direction: row;
}

.star {
  /* color: var(--orange-color); */
}

.nav-item {
  position: relative;
  color: var(--headertext-color);
  display: inline;
  padding: 0px 6px 0px 6px;
  cursor: pointer;
  text-decoration: none;
}

.nav-item:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: grey;
  visibility: visable;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.nav-item.selected:before {
  visibility: visible;
  -webkit-transform: scaleX(.8);
  transform: scaleX(.8);
  background-color: var(--orange-color);
  
}

.nav-item:hover:before {
  color: var(--orange-color);
  visibility: visible;
  -webkit-transform: scaleX(.8);
  transform: scaleX(.8);
}

.links-icon:hover {
  color: var(--orange-color)
}

.links-main {
  margin-right: 6px;
  width: max-content;
  width: 65px;
  display: flex;
  justify-content: center;
  
}

.links-icon {
 color: var(--headertext-color);
 font-size: 22px;
 cursor: pointer;
 padding: 3px 0px 3px 0px
}

.content {
  display: flex;
  justify-content: center;
}

.footer-main {
  background-color: var(--header-color);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
