
:root {
  --green-color: #BFBA3D;
  --header-color: #e8e6de;
  --headeropacity-color: #e8e6decc;
  --blue-color: #8AB2C2;
  --headertext-color: rgb(30,30,30);
  --orange-color: #DC5620;
  --title-color: rgb(75, 75, 75);
  --react-color: #00d8ff;
  --butter-color: #ffc825;
  --calcHeight-meas: calc(100vh - 141px);
}

:root {
  --primary-color: #a19d5f;
  --secondary-color: #fd9943;
  --accent-color: #3f2806;
  --alt-color: #fed556;
  --alttwo-color: #f26d20;
}

.basic-flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.basic-flex-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.App {
  color: var(-headertext--color);
  overflow-x: hidden;
  font-family: "Oswald", sans-serif;
  width: 100vw;
  /* height: 100vh; */
  font-weight: 300;
}

.pre-load-all-hidden {
display: none;
}

.loading {
  width: 100vw;
  height: 100vh;
  position: absolute;
}

.loading.hidden {
  display: none;
  -webkit-animation: fadeOut 1s ease-out;
          animation: fadeOut 1s ease-out;
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.letter {
  opacity: .5;
  letter-spacing: 1.4px;
  font-size: 3em;
  font-weight: 300;
}

.loading-letter1 {
  -webkit-animation: loading 1.6s ease-in-out infinite;
          animation: loading 1.6s ease-in-out infinite;
}

.loading-letter2 {
  -webkit-animation: loading 1.6s ease-in-out infinite;
          animation: loading 1.6s ease-in-out infinite;
  -webkit-animation-delay: .1s;
          animation-delay: .1s;
}

.loading-letter3 {
  -webkit-animation: loading 1.6s ease-in-out infinite;
          animation: loading 1.6s ease-in-out infinite;
  -webkit-animation-delay: .2s;
          animation-delay: .2s;
}

.loading-letter4 {
  -webkit-animation: loading 1.6s ease-in-out infinite;
          animation: loading 1.6s ease-in-out infinite;
  -webkit-animation-delay: .3s;
          animation-delay: .3s;
}

.loading-letter5 {
  -webkit-animation: loading 1.6s ease-in-out infinite;
          animation: loading 1.6s ease-in-out infinite;
  -webkit-animation-delay: .4s;
          animation-delay: .4s;
}

.loading-letter6 {
  -webkit-animation: loading 1.6s ease-in-out infinite;
          animation: loading 1.6s ease-in-out infinite;
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
}

.loading-letter7 {
  -webkit-animation: loading 1.6s ease-in-out infinite;
          animation: loading 1.6s ease-in-out infinite;
  -webkit-animation-delay: .6s;
          animation-delay: .6s;
}

.loading-letter8 {
  -webkit-animation: loading 1.6s ease-in-out infinite;
          animation: loading 1.6s ease-in-out infinite;
  -webkit-animation-delay: .7s;
          animation-delay: .7s;
}

.loading-letter9 {
  -webkit-animation: loading 1.6s ease-in-out infinite;
          animation: loading 1.6s ease-in-out infinite;
  -webkit-animation-delay: .8s;
          animation-delay: .8s;
}

.loading-letter10 {
  -webkit-animation: loading 1.6s ease-in-out infinite;
          animation: loading 1.6s ease-in-out infinite;
  -webkit-animation-delay: .9s;
          animation-delay: .9s;
}


@-webkit-keyframes loading {
  0% {
    opacity: .4;

  }
  50% {
   opacity: 1;
  }
  100% {
    opacity: .4;
 
  }
}


@keyframes loading {
  0% {
    opacity: .4;
  }
  50% {
   opacity: 1;
  }
  100% {
    opacity: .4;
  }
}


.bad-url {
  width: 100vw;
  height: calc(100vh - 130px);

}

/* ::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  width: 15px;
  background: var(--header-color)
}

::-webkit-scrollbar-thumb {
  background: rgba(148, 148, 148, 0.7); 
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(97, 97, 97, .7); 
} */

.header-main {
  z-index: 10;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 80px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-main.trans {
    background-color: rgba(255, 255, 255, 0)
}

/************* logo ***************************/

.logo-div {
  margin-left: 12px;
}

#logo-svg {
  width: 72px;
}

/************ nav *******************/

.nav-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: -34px;
  overflow-x: hidden;
}

.nav-list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; 
  -webkit-box-orient: horizontal; 
  -webkit-box-direction: normal; 
      -ms-flex-direction: row; 
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding: 0;
  width: 30vw;
}

.nav-item {
  font-size: 1.1em;
  font-weight: 300;
  position: relative;
  color: var(--headertext-color);
  padding: 6px;
  cursor: pointer;
  text-decoration: none;
}

.nav-item:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: grey;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.nav-item.selected:before {
  background-color: var(--orange-color);
}

.nav-item:hover:before, .nav-item.selected:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/***************** links **********************/

.links-main {
  margin-right: 24px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  width: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.links-icon {
  color: var(--title-color);
  font-size: 30px;
  cursor: pointer;
  margin: 3px 5px 3px 5px;
  -webkit-transition: .3s;
  transition: .3s
}

.links-icon:hover {
  color: var(--orange-color);
}

/************** content **************/

.content.hidden {
  display: none;
  }

.content {
  background-color: white;

/* background-attachment: fixed; */
  width: 100vw;
  min-height: 100vh;
  /* margin-top: 80px; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  animation: fadeIn 1s ease-in;
    -webkit-animation: fadeIn 1s ease-in;
}

  @-webkit-keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

/************** about **************/

.about-wrapper {
  
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro-text {
  width: 100vw;
  text-align: center;
  height: 200px;
  position: absolute;
  color: var(--orange-color);
}

.hello-text {
  margin-top: 100px;
  font-size: 5.0em;
  font-weight: 400;
  margin-bottom: 10px;
}

.intro-text-upper {
  font-weight: 300;
  font-size: 1.4em;
}

.temp-div {
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100vw;
  /* margin-top: calc(100vh - 58px); */
  position: fixed;
  margin: 94vh 0 0 22px;
  font-size: 1.4em;
  font-weight: 200;
  color: var(--orange-color)
}

#sunny-icon {
  animation: sunSpin 20s infinite linear;
}

@keyframes sunSpin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.chevron-div {
  position: absolute;
  top: calc(100vh - 120px);
  width: 100vw;
}

.fa-chevron-double-down {
  -webkit-animation: chevron 1.9s ease-in-out infinite ;
          animation: chevron 1.9s ease-in-out infinite ;
  font-size: 60px;
  color: var(--header-color);
  opacity: 0;
}


@keyframes chevron {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 0;
  }
  80% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
    opacity: .8;
  }
  100% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
    opacity: 0;
  }
}


.austin-image-div {
  position: relative;
  width: 100vw;
  height: 200vh;
  background-image: url(/img/IMG_0326.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: flex-end; */
}

.about-overlay {
  position: absolute;
  height: 200vh;
}

.content-text {
  width: 100vw;
  color: var(--header-color);
  margin-top: 110vh;
  display: flex;
  /* flex-direction: column; */
  justify-content: space-evenly;
}

.headshot-div {
  /* background-color: pink; */
  /* width: 100vw; */
  /* -webkit-box-shadow: 2px 2px 15px rgba(50, 50, 50, .3);
          box-shadow: 2px 2px 15px rgba(50, 50, 50, .3); */
  max-width: 60%;
  margin: 30px 0px 0px 10px;
}

.headshot {
  width: 100%
}


.bio-main {
  /* width: 100vw; */
  margin-top: 200px;
  padding: 100px;
  color: var(--header-color);
  /* text-shadow: 1px 1px white; */
  font-size: 1.2em;
  /* background-color: rgba(255, 255, 255, .4); */
  font-weight: 200;

}

.bio-lines {
  padding: 1px 4px 1px 4px;
  font-size: 1.4em;
  background-color: rgba(0, 0, 0, .4);
}


/************** portfolio **************/

.portfolio-container, .blog-container{
  width: 100vw;
  display: grid;
  grid-template-columns: 1;
  justify-content: center;
}

.portfolio-main {
   /* background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(/img/DSCF0035.jpg); */
  padding: 34px 0px 34px 0px;
  width: 80vw;
  display: grid;
  grid-gap: 40px;
  grid-template-columns: repeat(auto-fill, minmax(380px, .8fr));
  justify-content: center;

}

.site-card {
  -webkit-box-shadow: 1px 1px 5px rgba(50, 50, 50, .3);
          box-shadow: 1px 1px 5px rgba(50, 50, 50, .3); 
display: grid;
  font-weight: 200;
  color: white;
  align-items: center;
  position: relative;
 
}

.card-image {

  width: 100%;
}

.card-overlay {
  color: white;
  z-index: 5;
  font-size: 1.5vw;
  position: absolute;
  background-color: rgba(0, 0, 0, .9);
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: .4s;
          transition: .4s;
}

.site-card:hover .card-overlay {
  cursor: pointer;
  -webkit-transition: .4s;
          transition: .4s;
  -webkit-transition-delay: .2s;
          transition-delay: .2s;
  opacity: 1;
}


.overlay-heading {
  font-size: 1.9em;
  padding: 2px 0px 2px 6px;
}

.overlay-info {
  font-size: 1.1em;
  text-align: center;
}

.port-icon {
  padding: 2px 4px 2px 0px;
  font-size: 1.3em;
  margin: 10px 4px 0px 4px;
}


/************** Blog ********************************/

.blog-post-main {
  font-weight: 300;
  width: 80vw;
  margin-top: 20px;
}

.portfolio-blog-page-title {
  margin-top: 120px;
  width: 80vw;
  background-color: rgb(75, 75, 75);
  color: var(--header-color);
  font-size: 3.5vw;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
}

.blog-card {
  font-weight: 300;
  width: 80vw;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--orange-color);
}

.blog-link {
  font-weight: 300;
}

.blog-categories {
  font-weight: 200;
  color: grey;
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

a:visited {
  color: black;
}

.blog-entry-title {
  padding-bottom: 12px;
  border-bottom: 1px solid var(--orange-color);
}

.blog-featured-image {
  /* border-radius: 4px; */
  max-width: 100%;
  height: auto;
}

.fa-chevron-left {
  cursor: pointer;
  color: var(--orange-color);
}



/* .post-container {
  h1, h2, h3, h4, h5 {
    font-weight: 600;
    margin-bottom: 1em;
    margin-top: 1.5em;
  }
} */


  p {
    /* font-family: Georgia, Cambria, "Times New Roman", Times, serif; */
    font-size: 1.25em;
    line-height: 1.58;
    /* margin-bottom: 1.25em; */
    font-weight: 200;
    /* letter-spacing: -.003em; */
  }

  /* Responsive floating */
  /* @media only screen and (min-width: 720px)  {
    .butter-float-left {
      float: left;
      margin: 0px 10px 10px 0px;
    }

    .butter-float-right {
      float: right;
      margin: 0px 0px 10px 10px;
    }
  } */

  /* Image caption */


  figcaption {
    font-style: italic;
    text-align: center;
    color: #ccc;
  }

  p code {
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    background-color: #f9f2f4;
    /* border-radius: 4px; */
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  }
/* 
  pre {
    display: block;
    padding: 1em;
    margin: 0 0 2em;
    font-size: 1em;
    line-height: 1.4;
    word-break: break-all;
    word-wrap: break-word;
    color: #333333;
    background-color: #f5f5f5;
    font-family: Menlo, Monaco,Consolas, "Courier New", monospace;
  } */



/************** footer **************/

.footer-main {
  padding: 15px 0px 20px 0px;
  font-size: 1em;
  /* padding: 0px 10px 0px 10px; */
  /* position: absolute; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  /* z-index: 100; */
  /* bottom: 0; */
  /* color: var(--orange-color); */
  /* left:0; */
  height: 50px;
  /* background-color: var(--header-color); */
}

.butter-logo {
  height: 30px;
  /* background-color: var(--butter-color);
  border-radius: 3px; */
}

.react-logo {
  height: 30px;
  transform: translateY(-2px);
}

.footer-icon {
  font-size: 1.6em;
  color: var(--react-color);
}

.footer-item {
  text-transform: uppercase;
}


/************** media queries **************/


@media (min-width: 1281px) {
  .portfolio-main {
    grid-template-columns: repeat(2, minmax(400px, .7fr));
  }

  .portfolio-blog-page-title {
    font-size: 3.3em;

  } 
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  
  
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .card-overlay {
    font-size: 2vw;
  }
  
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .card-overlay {
    font-size: 2vw;
  }
  
}
@media (min-height: 550px) and (max-height: 768px) {
  .headshot {
   width: 28%;
  }
  
}

@media (max-height: 549px) {
  .headshot {
   width: 22%;
  }
  
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {

  /* .header-main {
    height: 70px;
  } */
  .nav-list {
    width: 45vw;
  }
  
  .nav-item {
    font-size: .9em;
  }

  #logo-svg {
    width: 68px;
  }
  
  .links-main {
    margin-right: 20px;

  }
  
  .links-icon {
    font-size: 26px;
 
  }

  .blog-page-title {
    font-size: 4.5vw;
  }

  /* .image-div {
    height: calc(100vh - 70px);
  }

  .about-content {
    height: calc(100vh - 70px);
  } */
  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/



@media (min-width: 320px) and (max-width: 480px) {
  .nav-list {
    width: 50vw;
  }
  
  .nav-item {
    font-size: .8em;
  }

  #logo-svg {
    width: 62px;
  }
  
  .web-design-text {
    font-size: .7em;
    margin-top: -7px;
  }

  .links-main {
    margin-right: 18px;

  }
  
  .links-icon {
    font-size: 24px;
 
  }
  
}


