
:root {
  --background-color: rgb(242, 242, 242);
  --green-color: #BFBA3D;
  --header-color: #e8e6de;
  --headeropacity-color: #e8e6decc;
  --blue-color: #8AB2C2;
  --headertext-color: rgb(24,24,24);
  --orange-color: #DC5620;
  --title-color: rgb(60, 60, 60);
  --react-color: #00d8ff;
  --butter-color: #ffc825;
}

.basic-flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.basic-flex-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.App {
  color: var(-headertext--color);
  overflow-x: hidden;
  font-family: "Oswald", sans-serif;
  width: 100vw;
  font-weight: 300;
}

body {
  overflow-y: scroll;
}

.pre-load-all-hidden {
  display: none;
}

/******************************** content **************/

.content.hidden {
  display: none;
  }

.content {
  background-color: var(--background-color);
  /* background-image: url(/img/IMG_0326.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover; */
  width: 100vw;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  animation: fadeIn .8s ease-in;
    -webkit-animation: fadeIn .8s ease-in;
}

  @-webkit-keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

/***************************** loading  ****************************/

.loading {
  width: 100vw;
  height: 100vh;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}


.loading.hidden {
  display: none;
  -webkit-animation: fadeOut 1s ease-out;
          animation: fadeOut 1s ease-out;
}

@-webkit-keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.letter {
  opacity: .3;
  letter-spacing: 1.4px;
  font-size: 3em;
  font-weight: 200;
  /* font-style: italic; */
  text-transform: uppercase;
}

.loading-letter1 {
  -webkit-animation: loading 1.2s ease-in-out infinite;
          animation: loading 1.2s ease-in-out infinite;
}

.loading-letter2 {
  -webkit-animation: loading 1.2s ease-in-out infinite;
          animation: loading 1.2s ease-in-out infinite;
  -webkit-animation-delay: .1s;
          animation-delay: .1s;
}

.loading-letter3 {
  -webkit-animation: loading 1.2s ease-in-out infinite;
          animation: loading 1.2s ease-in-out infinite;
  -webkit-animation-delay: .2s;
          animation-delay: .2s;
}

.loading-letter4 {
  -webkit-animation: loading 1.2s ease-in-out infinite;
          animation: loading 1.2s ease-in-out infinite;
  -webkit-animation-delay: .3s;
          animation-delay: .3s;
}

.loading-letter5 {
  -webkit-animation: loading 1.2s ease-in-out infinite;
          animation: loading 1.2s ease-in-out infinite;
  -webkit-animation-delay: .4s;
          animation-delay: .4s;
}

.loading-letter6 {
  -webkit-animation: loading 1.2s ease-in-out infinite;
          animation: loading 1.2s ease-in-out infinite;
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
}

.loading-letter7 {
  -webkit-animation: loading 1.2s ease-in-out infinite;
          animation: loading 1.2s ease-in-out infinite;
  -webkit-animation-delay: .6s;
          animation-delay: .6s;
}

.loading-letter8 {
  -webkit-animation: loading 1.2s ease-in-out infinite;
          animation: loading 1.2s ease-in-out infinite;
  -webkit-animation-delay: .7s;
          animation-delay: .7s;
}

.loading-letter9 {
  -webkit-animation: loading 1.2s ease-in-out infinite;
          animation: loading 1.2s ease-in-out infinite;
  -webkit-animation-delay: .8s;
          animation-delay: .8s;
}

.loading-letter10 {
  -webkit-animation: loading 1.2s ease-in-out infinite;
          animation: loading 1.2s ease-in-out infinite;
  -webkit-animation-delay: .9s;
          animation-delay: .9s;
}

.loading-letter11 {
  -webkit-animation: loading 1.2s ease-in-out infinite;
          animation: loading 1.2s ease-in-out infinite;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.loading-letter12 {
  -webkit-animation: loading 1.2s ease-in-out infinite;
          animation: loading 1.2s ease-in-out infinite;
  -webkit-animation-delay: 1.1s;
          animation-delay: 1.1s;
}

.loading-letter13 {
  -webkit-animation: loading 1.2s ease-in-out infinite;
          animation: loading 1.2s ease-in-out infinite;
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}


@-webkit-keyframes loading {
  0% {
    opacity: .3;
  }
  50% {
   opacity: 1;
  }
  100% {
    opacity: .3;
  }
}

@keyframes loading {
  0% {
    opacity: .3;
  }
  50% {
   opacity: 1;
  }
  100% {
    opacity: .3;
  }
}

.bad-url {
  width: 100vw;
  height: calc(100vh - 130px);
}

/******************** header *****************************/

.header-main {
  background-color: var(--background-color);
  z-index: 100;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-main.trans {
 background-image: url(/img/IMG_0326.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

/************************ logo ***************************/

.logo-div {
  margin: 10px 0 0 10px;
  
}

#logo {
  width: 72px;
  border-radius: 10px;
}

/*************************** nav ******************************/

.nav-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: -34px;
  overflow-x: hidden;
}

.nav-list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; 
  -webkit-box-orient: horizontal; 
  -webkit-box-direction: normal; 
      -ms-flex-direction: row; 
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding: 0;
  width: 30vw;
}

.nav-item {
  font-size: 1.1em;
  font-weight: 300;
  position: relative;
  color: var(--headertext-color);
  padding: 6px;
  cursor: pointer;
  text-decoration: none;
}

.nav-item:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: grey;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.nav-item.selected:before {
  background-color: var(--orange-color);
}

.nav-item:hover:before, .nav-item.selected:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/***************** links **********************/

.links-main {
  margin-right: 24px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  width: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.links-icon {
  color: var(--title-color);
  font-size: 30px;
  cursor: pointer;
  margin: 3px 5px 3px 5px;
  -webkit-transition: .3s;
  transition: .3s
}

.links-icon:hover {
  color: var(--orange-color);
}

/************** about **********************************/

.about-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro-text {
  width: 100vw;
  text-align: center;
  height: 200px;
  position: absolute;
  color: var(--orange-color);
}

.hello-text {
  transition: .4s ease-in-out;
  opacity: 1;
  margin-top: 100px;
  font-size: 5.0em;
  font-weight: 400;
  margin-bottom: 10px;
}

.hello-text.hidden {
  opacity: 0;
  transition: .4s ease-in-out;
}


.intro-text-upper {
  transition: .4s ease-in-out;
  opacity: 1;
  font-weight: 300;
  font-size: 1.4em;
}

.intro-text-upper.hidden {
  opacity: 0;
  transition: .4s ease-in-out;
}

.temp-div {
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100vw;
  position: absolute;
  margin: 96vh 0 0 22px;
  font-size: 1.4em;
  font-weight: 200;
  color: var(--orange-color)
}

#sunny-icon {
  animation: sunSpin 20s infinite linear;
}

@keyframes sunSpin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.chevron-div {
  position: absolute;
  top: calc(100vh - 120px);
  width: 100vw;
}

.chevron-div.hidden {
  opacity: 0;
  transition: .4s ease-in-out;
}

.fa-chevron-double-down {
  -webkit-animation: chevron 1.9s ease-in-out infinite ;
          animation: chevron 1.9s ease-in-out infinite ;
  font-size: 60px;
  color: var(--header-color);
  opacity: 0;
}


@keyframes chevron {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 0;
  }
  80% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
    opacity: .8;
  }
  100% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
    opacity: 0;
  }
}

.austin-image-div {
  position: relative;
  width: 100vw;
  min-height: 200vh;
  background-image: url(/img/IMG_0326.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* .about-overlay {
  position: absolute;
} */

.content-text {
  width: 100vw;
  color: var(--header-color);
  margin-top: 110vh;  
}

.headshot-div {
  z-index: 50;
  width: 100%;
  margin: 20px 0 0 10px;
}

.headshot {
  width: 28%;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, .4);
}


.bio-main {
  text-transform: uppercase;
  margin-top: 90px;
  padding: 0 120px 0 120px;
  color: var(--header-color);
  font-size: 1.6em;
  font-weight: 200;
}

.bio-lines {
  padding: 1px 4px 1px 4px;
  /* font-size: 1.4em; */
  background-color: rgba(0, 0, 0, .4);
}


/************** portfolio ***********************************/

.portfolio-container, .blog-container{
  width: 100vw;
  display: grid;
  grid-template-columns: 1;
  justify-content: center;
}

.portfolio-main {
  padding: 34px 0px 34px 0px;
  width: 80vw;
  display: grid;
  grid-gap: 40px;
  grid-template-columns: repeat(auto-fill, minmax(380px, .8fr));
  justify-content: center;

}

.site-card {
  -webkit-box-shadow: 1px 1px 5px rgba(50, 50, 50, .3);
          box-shadow: 1px 1px 5px rgba(50, 50, 50, .3); 
  display: grid;
  font-weight: 200;
  color: white;
  align-items: center;
  position: relative;
 
}

.card-image {
  width: 100%;
}

.card-overlay {
  color: white;
  z-index: 5;
  font-size: 1.5vw;
  position: absolute;
  bottom: 0;
  background-color: rgba(28, 28, 28, .9);
  width: 100%;
  height: 0%;
  opacity: 0;
  -webkit-transition: .4s;
          transition: .4s;
}

.site-card:hover .card-overlay {
  cursor: pointer;
  -webkit-transition: .4s;
          transition: .4s;
  -webkit-transition-delay: .2s;
          transition-delay: .2s;
  opacity: 1;
  height: 50%;

}

.overlay-heading {
  font-size: 1.9em;
  padding: 2px 0px 2px 6px;
}

.overlay-info {
  font-size: 1.1em;
  text-align: center;
}

.port-icon {
  padding: 2px 4px 2px 0px;
  font-size: 1.3em;
  margin: 10px 4px 0px 4px;
}


/************** Blog ********************************/

.image {
  margin: 0;
}



.blog-post-main {
  font-weight: 300;
  width: 80vw;
  margin-top: 20px;
}

.portfolio-blog-page-title {
  margin-top: 120px;
  width: 80vw;
  background-color: var(--title-color);
  color: var(--header-color);
  font-size: 3.5vw;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
}

.blog-cards {
  width: 80vw;
}

.blog-card {
  
  font-weight: 300;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--orange-color);
}

.blog-link {
  font-weight: 300;
}

.blog-categories {
  font-weight: 200;
  color: grey;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: black;
}

a:visited {
  color: black;
}

.blog-entry-title {
  padding-bottom: 12px;
  border-bottom: 1px solid var(--orange-color);
}

.blog-featured-image {
  max-width: 100%;
  height: auto;
}

.fa-chevron-left {
  cursor: pointer;
  color: var(--orange-color);
}

p {
  font-size: 1.25em;
  line-height: 1.58;
  font-weight: 200;
}
figcaption {
  font-style: italic;
  text-align: center;
  color: #ccc;
}
p code {
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}


/************** footer **************/

.footer-main {
  color: var(--orange-color);
  padding: 15px 0px 20px 0px;
  font-size: 1em;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: auto;

}

.butter-logo {
  height: 30px;
}

.react-logo {
  height: 20px;
}

.footer-icon {
  font-size: 1.6em;
  color: var(--react-color);
}

.footer-item {
  text-transform: uppercase;
}

.about-footer {
  color: var(--orange-color);
  position: absolute;
  top: 196vh;
  justify-content: space-around;
  padding: 0;
  height: auto;
  margin-left: -3vw;
}

/************** media queries **************/


@media (min-width: 1281px) {
  .portfolio-main {
    grid-template-columns: repeat(2, minmax(400px, .7fr));
  }

  .portfolio-blog-page-title {
    font-size: 3em;

  } 
}



/* @media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .card-overlay {
    font-size: 2vw;
  }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .card-overlay {
    font-size: 2vw;
  }

  .bio-main {
    margin-top: 20vh;
    padding: 0 100px 0 100px;
  }
} */

@media (min-width: 481px) and (max-width: 767px) {

  .nav-list {
    width: 45vw;
  }
  
  .nav-item {
    font-size: .9em;
  }

  #logo-svg {
    width: 58px;
  }
  
  .links-main {
    margin-right: 20px;

  }
  
  .links-icon {
    font-size: 26px;
 
  }

  .hello-text {
    font-size: 4em;
  }

  .intro-text-upper {
    font-size: 1.3em;
  }

  .blog-page-title {
    font-size: 4.5vw;
  }

  .temp-div {
    font-size: 1.1em;
  }

  .weather-icon {
    transform: scale(.8);
    margin-top: -4px;
  }

  .headshot {
    width: 50%
  }

  .bio-main {
    font-size: 1.4em;
    margin-top: 10vh;
    padding: 0 30px 0 30px;
  }
}


@media (min-width: 320px) and (max-width: 480px) {

  .letter {
    font-size: 2em;
  }
  .nav-list {
    width: 50vw;
    font-size: 14px;
  }
  
  .nav-item {
    font-size: .8em;
    /* padding: 0px; */
  }

  #logo {
    width: 54px;
  }
  
  .links-main {
    margin-right: 16px;

  }
  
  .links-icon {
    font-size: 18px;
 
  }

  .hello-text {
    font-size: 3em;
  }

  .intro-text-upper {
    font-size: 1.1em;
    padding: 0 20px 0 20px;
  }

  .temp-div {
    font-size: 1.1em;
  }
  
  .headshot {
    width: 48%;
    margin-top: 60px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .4);
  }

  .bio-main {
    padding: 0 20px 0 20px;
  }

  .bio-lines {
    font-size: .8em;
  }

  
}

@media (min-height: 550px) and (max-height: 768px) {

  .temp-div {
    font-size: 1.1em;
  }

  .weather-icon {
    transform: scale(.8);
    margin-top: -4px;
  }

  .headshot {
    width: 24%;
    margin-top: 80px;
   }
 
   
   .bio-main {
     margin-top: 40px;
     padding: 0 40px 0 40px;
     font-size: 1.1em;
   }

   .about-footer {
     height: auto;
     bottom: -74px;
   }

  .bio-main {
    margin-top: 40px;
    padding: 0 90px 0 90px;
  }
}

@media (max-height: 549px) {

  .letter {
    font-size: 2em;
  }

  .hello-text {
    font-size: 3em;
  }

  .temp-div {
    margin-top: 90vh;
    font-size: 1.1em;
  }

  .weather-icon {
    transform: scale(.9);
    margin-top: -4px;
  }


  .headshot {
    width: 20%;
    margin-top: 60px;
   }
 
   
   .bio-main {
     margin-top: 20px;
     padding: 0 20px 0 20px;
     font-size: .8em;
   }

   .about-footer {
     height: auto;
     bottom: -74px;
  }
  
}



